<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>How it Works</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />
<style>

.dark-cover {
    background-color: #343332;
    color: #EAEAEA;
    margin:0;
    padding:0;
    height: 670px;
}

.space {
    margin-left: 20px;
    padding-top: 20px;
}


    .navbar-default {
      background-color: #3384E5;
      background-image: none;
      background-repeat: no-repeat;
      color: #e6e5e3 !important;
    } 

    a {
        color: #e6e5e3 !important
    }


</style>
</head>

<body>
    <div>
        <nav class="navbar navbar-toggleable-md navbar-default">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <!-- <a href="/" class="pull-left"><img src="/static/uptodayte.png"></a>  -->
    <a class="navbar-brand" href="/" style="max-width: 20%;z-index: 1000;bottom: 3px;right: 0px;position: relative;">
        <img src="static/uptodayte.png" class="img-fluid">
     </a>
      <!-- <a class="navbar-brand" href="#">RecapMyDay</a> -->
      <!-- <img src="/static/uptodayte.png" width> -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto" style="z-index: 10000; position: relative; bottom: 2px; right: 0px;">
          <li class="nav-item"> 
            <a class="nav-link" href="/recap_me">What Did I Miss?!</a>
          </li>      
          <li class="nav-item">
            <a class="nav-link" href="/howtouse">How to Use It</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="dark-cover">
    <div class="space">
        Uptodayte was designed with usability and user intuition in mind. We believe that visualizing data through its properties leads to a far better understanding of the overall picture than a crude listing, and this is exactly the vision behind Uptodayte. For these reasons, we believe Uptodayte is usable right out of the box without instructions. Buuuuuuuuuuuut just for the sake of completeness, here is how Uptodayte is used!

        <br></br>


    </div>
    </div>
</div>

</body>
</html>