<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Recap My Day</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="navbar-brand text-muted" href="#">Recap My Day</h3>
            <!-- <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Log In</a>
              </li>
            </ul> -->
        </div>
 
        <div class="jumbotron">
            <p class="lead">Ever feel like you're missing out on the news? With Recap My Day, you can catch up on everything that happened all over the world in the past day!</p>
            <!-- <p><a class="btn btn-lg btn-info" href="showSignUp" role="button">Log in with Twitter</a>
            </p> -->
        </div>

        {{ 2+2 }}
 
        <footer class="footer">
            <p>Created with love by the best web developer in the game (Lynn)</p>
        </footer>
 
    </div>
</body>
 
</html>