<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>FillMeIn</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<style>
  body { margin:0; padding:0; }
  body {
    margin: 0;
    }
    html, body, #map {
      height: 100%;
    }

</style>
</head>

<body>
    <div id="container">
        <nav class="navbar navbar-toggleable-md navbar-dark">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/"><strong>RecapMyDay</strong></a>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">About <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">How to Use It</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="recap_me">What Did I Miss!</a>
          </li> 
        </ul>
      </div>
    </nav>
    <div> 
        What Did I Miss?
    </div>    
</div>


<script>
</script>


</body>
</html>