<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>What Did I Miss?!</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




<style>
  body { margin:0; padding:0; }
  body {
    margin: 0;
    }
    html, body, #map {
      height: 100%;
    }

    .navbar-default {
      background-color: #3384E5;
      background-image: none;
      background-repeat: no-repeat;
      color: #e6e5e3 !important;
    } 

    a {
        color: #e6e5e3 !important
    }

    #myCarousel{
      left:20px;
      width:500px;
      height:500px;
    }



</style>
</head>

<body>
    <div id="container">
        <nav class="navbar navbar-toggleable-md navbar-default">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <!-- <a href="/" class="pull-left"><img src="/static/uptodayte.png"></a>  -->
    <a class="navbar-brand" href="/" style="max-width: 20%;z-index: 1000;bottom: 3px;right: 0px;position: relative;">
        <img src="static/uptodayte.png" class="img-fluid">
     </a>
      <!-- <a class="navbar-brand" href="#">RecapMyDay</a> -->
      <!-- <img src="/static/uptodayte.png" width> -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto" style="z-index: 10000; position: relative; bottom: 2px; right: 0px;">
          <li class="nav-item"> 
            <a class="nav-link" href="/recap_me">What Did I Miss?!</a>
          </li>      
          <li class="nav-item">
            <a class="nav-link" href="/howtouse">How to Use It</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <div class="row-fluid">
      <div class="span12">


          <div class="carousel slide" id="indexslider">
                <div class="carousel-inner">
                    <div class="item">
                        <img alt="" src="http://placehold.it/1200x383">
                    </div>
                    <div class="item active">
                        <img alt="" src="http://placehold.it/1200x383">
                    </div>
                    <div class="item">
                        <img alt="" src="http://placehold.it/1200x383">                    
                    </div>
                </div>
                <a class="left carousel-control" href="#indexslider" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#indexslider" data-slide="next">›</a>
            </div>
  
  </div>
  </div>
</div>
    <div> 
     

<script>
  $(document).ready(function () {           
      $('.carousel').carousel();       
  });
</script>


</body>
</html>